
    .mastersProgram-item-content {
        border: 3px solid var(--surface-d);
        background-color: white;
        border-radius: 3px;
        margin: .3rem;
        text-align: left;
        padding: 1rem;
    }

    .mastersProgram-item-heading {
        border-left: 3px solid rgb(131, 142, 206);
        padding-left: 1rem;
        
    }