<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-4xl mb-4">Master's Programs</div>
    <div class="text-700 text-xl mb-6 line-height-3">Achieve your career goals with industry-recognized learning paths
    </div>
    <p-carousel [value]="mastersPrograms" [numVisible]="3" [numScroll]="1" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-mastersProgram pTemplate="item">
            <div class="mastersProgram-item">
                <div class="mastersProgram-item-content">
                    <div class="mastersProgram-item-heading">
                        <h4 class="text-900 font-bold text-1xl">{{mastersProgram.programName|titlecase}}</h4>
                    </div>
                    <div class="text-600"><i class="pi pi-calendar text-500 mr-2"></i>{{mastersProgram.duration}} Months | <i
                            class="pi pi-server text-500 mr-2"></i>{{mastersProgram.courses}} Courses</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>{{mastersProgram.typeOfProgram}}</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>{{mastersProgram.tools}}</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>{{mastersProgram.certificate}}</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto" />
                    <button pButton pRipple type="button" label="Enroll now" class="p-3 w-full mt-auto" [routerLink]="['/enroll']"
                    routerLinkActive="active"></button>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>