<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div class="text-700 text-2xl mb-4">Get Certified, Get Ahead with Our Programs</div>
  <div class="text-900 font-bold text-4xl mb-4">Post Graduate Programs</div>
  <div class="text-700 text-xl mb-6 line-height-3">Learn from global experts and get certified by the world's leading
    universities<br>
    <span class="text-700 text-sm mb-2"><i class="pi pi-circle-fill text-1xl text-blue-500"></i> University
      Certificates&nbsp;&nbsp;&nbsp;<i class="pi pi-circle-fill text-1xl text-blue-500"></i> University Alumini
      Status&nbsp;&nbsp;&nbsp;<i class="pi pi-circle-fill text-1xl text-blue-500"></i> MasterClasses from
      University&nbsp;&nbsp;&nbsp;<i class="pi pi-circle-fill text-1xl text-blue-500"></i> Career Support</span>
  </div>
  <p-carousel [value]="postGraduationPrograms" [numVisible]="3" [numScroll]="3" [circular]="true"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-postGraduationProgram pTemplate="item">
      <div class="postGraduationProgram-item">
        <div class="postGraduationProgram-item-content">
          <div class="p-mb-6">
              <img src="assets/Images/{{postGraduationProgram.image}}" [alt]="postGraduationProgram.programName" class="postGraduationProgram-image" />
          </div>
          <div>
              <h4 class="p-mb-1">{{postGraduationProgram.programName|titlecase}}</h4>
              <h6 class="p-mb-3">{{postGraduationProgram.typeOfProgram}}</h6>
              <h4 class="p-mb-1">Duration: {{postGraduationProgram.duration}} Months</h4>
              <h6 class="p-mt-0 p-mb-3">Cohort Starts: {{postGraduationProgram.startDate|date:'mediumDate'}}</h6>
          </div>
          <button pButton pRipple type="button" label="Join now" class="p-button-outlined" [routerLink]="['/enroll']"
          routerLinkActive="active"></button>
      </div>
      </div>
    </ng-template>
  </p-carousel>
</div>