<p-scrollTop></p-scrollTop>
<div
  class="bg-indigo-400 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap"
  *ngIf="offerBlock">
  <div class="font-bold mr-8">🔥 Hot Deals!</div>
  <div class="align-items-center hidden lg:flex">
    <span class="line-height-3">Special Offer on this summer season</span>
  </div>
  <a class="flex align-items-center ml-2 mr-8">
    <a class="text-white" href="#"><span class="underline font-bold">Learn More</span></a>
  </a>
  <a pRipple
    class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 cursor-pointer transition-colors transition-duration-150"
    style="width:2rem; height: 2rem; text-align: center;">
    <button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-text text-white" style="cursor: pointer;" (click)="closeBlock()"></button>
  </a>
</div>
<div class="grid grid-nogutter surface-section text-800" style="background-color: rgb(235, 235, 235);">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-8xl font-bold mb-1">World's #1</span>
      <section class="rw-wrapper">
        <h2 class="rw-sentence">
          <span class="text-6xl text-primary font-bold mb-3">Online Bootcamp for</span>
          <div class="rw-words rw-words-1 text-6xl text-primary font-bold mb-3">
            <span class="text-3xl text-primary font-bold">Post Graduation Programs</span>
            <span class="text-3xl text-primary font-bold">Master's Programs</span>
            <span class="text-3xl text-primary font-bold">Certification Courses</span>
          </div>
        </h2>
      </section><br>
      <p class="mt-0 mb-4 text-700 line-height-3"><span class="text-black-1xl font-bold">2,00,000</span> careers
        advanced<br><span class="text-black-1xl font-bold">1,500</span> live classes every month<br><span
          class="text-black-1xl font-bold">85%</span>
        report career benefits including promotion or a new job</p>

      <button pButton pRipple label="Explore Programs" type="button" class="mr-3 p-button-raised"></button>
      <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined mr-3"></button>
      <button pButton pRipple label="Login" type="button" class="mr-3 p-button-raised" [routerLink]="['/login']"
        routerLinkActive="active"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="assets/Images/user-1.jpg" alt="Image" class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>
<app-post-graduation-programs></app-post-graduation-programs>
<app-masters-programs></app-masters-programs>
<app-cerification-programs></app-cerification-programs>